<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\Console\CommandListInterface">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="ragIndex" xsi:type="object">PHPDublin\Rag\Console\Command\Index</item>
                <item name="ragSearch" xsi:type="object">PHPDublin\Rag\Console\Command\Search</item>
                <item name="ragPrompt" xsi:type="object">PHPDublin\Rag\Console\Command\Prompt</item>
            </argument>
        </arguments>
    </type>
    <type name="PHPDublin\Rag\Model\Llm">
        <arguments>
            <argument name="adapters" xsi:type="array">
                <item name="gemini" xsi:type="object">PHPDublin\Rag\Model\Llm\Gemini</item>
            </argument>
            <argument name="default" xsi:type="string">gemini</argument>
        </arguments>
    </type>
    <type name="PHPDublin\Rag\Model\VectorDb">
        <arguments>
            <argument name="adapters" xsi:type="array">
                <item name="chroma" xsi:type="object">PHPDublin\Rag\Model\VectorDb\Chroma</item>
            </argument>
            <argument name="default" xsi:type="string">chroma</argument>
        </arguments>
    </type>
</config>
